# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtual environment
venv/
.venv/
.env/
env/
ENV/ 
env.bak/ 
venv.bak/ 

#Django
*.log
*.pot
*.pyc

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml

#Cache
.cache 
.pytest_cache/
.mypy_cache/
__pycache__
